* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font: 110%/1.55 "HSE Sans", "Helvetica Neue", Arial, sans-serif;


}


header {
    background: #dd2828;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    color: ghostwhite;
    gap: 20px;
}

header h1 {
    color: ghostwhite;
    text-align: center;
    margin-left: 800px;
}


nav {
    display: flex;
    margin: 50px;
}

nav li {
    list-style: none;
    padding: 5px;
}

nav a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    color: white;
    font-size: x-large;

}

ul {
    padding: 0;
}

nav a:hover {
    background: coral;
}

nav {
    border-style: solid;
    border-bottom-width: 3px;
    border-color: #dd5050;
    border-radius: 30px;
    height: 100%;
    background: #dd4040;
}

main {
    min-height: calc(100vh - 200px);
    list-style: none;
}

footer {
    display: flex;
    width: 100%;
    height: 100px;
    background: #dd2828;
    margin-top: 100px;
    color: ghostwhite;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

main {
    display: flex;
}

header img {
    width: 100px;
    height: 100px;
    margin-left: -1030px;
    margin-top: 5px;
}

#img_proff {
    margin-left: 900px;
    border-radius: 20%;
    border: 4px solid #dd2828;
    vertical-align: top;
    margin-top: -1060px;
    width: 500px;
    height: 300px;
}

.tables {
    display: flex;

    flex-direction: row;

    justify-content: flex-start;
    position: absolute;
    left: 500px;
    top: -50px;
    width: 400px;
}

.home_text {
    position: absolute;
    left: 300px;
    top: 60px;
}

.home_text p {
    font-size: 15px;
    font-family: 'Font-mon';
    color: black;

}

.home_text h3 {
    text-align: center;
    font-family: 'Font-mon';
         color: black;
}

.home_text li {
    font-family: 'Font-mon';
        color: black;

}

.home_text h1 {
    font-family: 'Font-mon';
    width: 600px;
     color: black;
    position: absolute;
    left: 280px;
    top: -15px
}

.home_img {
    position: absolute;
    width: 380px;
    height: 225px;
    right: 35px;
    top: 430px;
}

.empty {
    height: 40px;
}

.demand_graph_1 {
    width: 600px;
    height: 400px;
    position: absolute;
    left: -150px;
    top: 0px;
}

.demand_graph_2 {
    width: 600px;
    height: 400px;
    left: -150px;
    position: absolute;
    top: 300px
}

.tables {
    display: flex;

    flex-direction: row;

    justify-content: flex-start;
    position: absolute;
    left: 500px;
    top: -30px;
    width: 600px;

}

.tables table {
    color: #dd5050;
}

.geography_graph_1 {
    width: 600px;
    height: 400px;
    position: absolute;
    left: -250px;
    top: 0px;
}

.geography_graph_2 {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 400px;
     left: -200px;
}

.graph_title1 {
    font-family: "Font-mon";
    position: absolute;
    z-index: 999999;
    color: black;
    left: 20px;
    top: -50px;
    width: 300px;
}

.graph_title2 {
    font-family: "Font-mon";
    position: absolute;
    z-index: 999999;
    color: black;
    left: 20px;
    top: 380px;
    width: 300px;
}

.tables_skills {
    display: flex;

    flex-direction: row;

    justify-content: flex-start;
    position: absolute;
    left: 60px;
    top: 50px;

}

.tables_skills table {
   color: #dd5050;
}

.skills_graph {
    position: absolute;
    width: 550px;
    height: 450px;
    left: 980px;
    top: 80px
}

.empty_skills {
    height: 750px;
}

.last_text {
    font-family: 'Font-mon';
    width: 600px;
    color: black;
    position: absolute;
    left: 100px;
    top: -15px
}

.LVtable {
    left: 400px;
    top: 130px;
    position: absolute;
    color: black;

}

.LVtable p {
    color: black;

}